# Image files
*.png
*.eps

# video files
*.mp4
*.avi
*.mov
*.mkv

# Audio files
*.mp3
*.wav
*.ogg
*.flac
*.m4a

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Participant Data folders
HITLS/P02/
HITLS/P03/
HITLS/P04/
HITLS/P05/
HITLS/P06/
HITLS/P07/
HITLS/P08/
HITLS/P09/
HITLS/P10/
HITLS/P11/
HITLS/P12/
HITLS/P13/
HITLS/P14/
HITLS/P15/
HITLS/P16/
HITLS/P17/
HITLS/P18/
HITLS/P19/
HITLS/P20/
# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# csv files
*.csv

# Distribution / packaging
build/
dist/
*.egg-info/
